.petimg{
    width: 352px;
    height: 400px;
}

.orderimg{
    width: 350px;
    height: 400px;
}
.category_colam{
    border: 2px solid #00205b;
    border-radius: 25px;
    cursor: pointer;
    color: #00205b;
}
.category_colam:hover{
    background-color: #00205b;
    color: white;
}
@media only screen and (max-width: 688px){
    .petimg{
        width: 240px;
        height: 400px;
    }
    .orderimg{
        width: 250px;
        height: 400px;
    }
}

