.petimg{
    width: 352px;
    height: 400px;
}

.orderimg{
    width: 400px;
    height: 450px;
}

@media only screen and (max-width: 688px){
    .petimg{
        width: 250px;
        height: 400px;
    }
    .orderimg{
        width: 250px;
        height: 400px;
    }
}

